/.cmake
/CMakeCache.txt
/CMakeFiles
/Makefile
/build
/cmake_install.cmake
/co60_230530.root
/compile_commands.json
/file.root
/fit.py
/main
/output.root
/run115.root
/run116.root
/run117.root
/run118.root
/run119.root
/run120.root